@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base row style */
.row {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* For screens larger than 1170px */
@media (min-width: 1170px) {
  .row {
    width: 1170px;
  }
}

/* For screens between 992px and 1170px */
@media (max-width: 1169px) and (min-width: 992px) {
  .row {
    width: 100%;
    max-width: 992px;
  }
}

/* For screens between 768px and 991px */
@media (max-width: 991px) and (min-width: 768px) {
  .row {
    width: 100%;
    max-width: 768px;
  }
}

/* For screens between 576px and 767px */
@media (max-width: 767px) and (min-width: 576px) {
  .row {
    width: 100%;
    max-width: 576px;
  }
}

/* For screens smaller than 576px */
@media (max-width: 575px) {
  .row {
    width: 100%;
    max-width: 100%;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.react-flow__node.selectable:focus-visible {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}

.previewflow .react-flow__handle.connectionindicator {
  opacity: 0;
}

.floating-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 300px;
  max-height: max-content;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 15px 30px 15px;
  z-index: 50;
  transition: transform 0.5s ease-in-out;
}

.floating-menu.open {
  display: none;
}

.backicon {
  background: rgb(255, 0, 21);
  background: linear-gradient(90deg, rgba(255, 0, 21, 1) 0%, rgba(255, 120, 90, 1) 100%);
}

.backicon .cardarticle:hover {
  background: white;

}

.backicon .cardarticle:hover h3 {
  color: black;

}

.backicon .cardarticle:hover p {
  color: black;

}

.backicon .cardarticle:hover .icon {
  display: none;

}

.backicon .cardarticle:hover .iconbl {
  display: block;

}

.btnquestion:hover hr {
  width: 35px;
  background: black;
}

.btnquestion:hover button {
  color: black !important;
}

.btnquestion hr {
  transition: width 0.4s ease;
}

.leftsidebar {
  width: 550px;
  min-height: 200vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: 0.5s;
}

.leftsidebar.active {
  left: 0;
}

.lfsd-body {
  max-height: calc(100vh - 67px);
  overflow-x: hidden;
}

.lfsd-body::-webkit-scrollbar-thumb {
  background: #04162e;
}

.lfsd-body::-webkit-scrollbar {
  width: 5px;
}

.dash-content {
  background: linear-gradient(90deg, #04162E 50%, transparent 50%);
}

.arrow-text::before {
  content: '\25B6';
  transform: rotate(360deg);
  margin-right: 8px;
  font-size: 12px;
}

.rounded-custom {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stepsection .arrow {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 20% 50%, 0% 0%);
  border-radius: 10px;
}

ol {
  list-style: decimal;
  padding: 10px 30px;
}

.bg-bgadmin-gradient {
  background: rgb(0, 4, 40);
  background: linear-gradient(90deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
}

.custom-table thead th:nth-child(even),
.custom-table tbody tr:nth-child(odd) th {
  background-color: #d7f1e1;
}